* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #0b0f2b;
  color: white;
  line-height: 1.6;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.header img {
  height: 50px;
  margin-bottom: 10px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background: #1c2340;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.card h2 {
  margin-bottom: 15px;
  color: #c7f2ff;
  font-size: 1.2rem;
}

.cta-area {
  cursor: pointer;
  padding: 15px;
  background: #0d5aa7;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
}

.texto-sobre {
  display: none;
  background: #1c2340;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

.cards {
  background: #4ca832;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.card-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  transition: 0.3s;
}
.card-icon:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.2);
}